.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  background: transparent;
  z-index: 10;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: black;
  letter-spacing: 2px;
  text-decoration: none;
}

.logo a {
  text-decoration: none;
  color: black;
}

.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.nav-links li {
  color: black;
  cursor: pointer;
  position: relative;
  padding: 5px 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.nav-links li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: black;
  transition: width 0.3s ease;
}

.nav-links li:hover::after {
  width: 100%;
}

.nav-icons {
  display: flex;
  gap: 20px;
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.nav-icons span {
  cursor: pointer;
}

.active-link {
  color: #1a237e !important;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}
